/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache/
/storage/framework/views

/.idea
/.vagrant
/bootstrap/cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
/nbproject
.buildpath
.project
.settings/
.vscode/
*.swl
*.swm
*.swn
*.swp
*.ser
*.pyc
*.bak
*.swo
*.DS_Store
*~
~*
*Thumbs.db
*.tar.gz
*.sass-cache
config.json
composer.lock
*._*
tags*
_ide_helper_models.php
phpDocumentor.phar
apidoc.json
/public/atsng
sftp-config.json
/vendor
.phpunit.result.cache